<!DOCTYPE html>
<html ng-app="index">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ui-view="navbar"></div>
    <div ui-view="main"></div>

    <div class="container marketing">
        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/angular-animate.js"></script>
    <script type="text/javascript" src="/javascripts/angular-resource.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.js"></script>
    <script type="text/javascript" src="/javascripts/ui-bootstrap-tpls-0.11.0.js"></script>
    <script type="text/javascript" src="/javascripts/controllers.js"></script>
    <script type="text/javascript" src="/javascripts/services.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
